<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://functiontwintotwin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/50169d6e-c860-4e3a-8b15-c0bd9b190783/resourceGroups/TwinToTwin/providers/Microsoft.Web/sites/FunctionTwinToTwin</ResourceId>
    <UserName>$FunctionTwinToTwin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functiontwintotwin.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>